/*lavender blush:#fff0f5, orange:#ffa500, honeydew:#f0fff0, rebeccapurple:#663399, indigo:#4b0082 */
body {
    color: black;
    background-color: #fff0f5;
    margin: 10px auto;
    padding: 0 0 50px 0;
    display: block;
    position: relative;
    overflow-y: scroll;
  }

  nav {
    opacity: 0.8;
  }

  nav:hover {
    opacity: 1;
    font-weight: 700;
    background: linear-gradient(to right, purple,#c71585,#D5ADC8,#FF8489);
  }

  div.well:hover {
    background: #f0fff0;
  }

  div#sample-metadata.panel-body {
    background: #f0fff0;
  }

  div.col-md-5:hover {
    background: #f0fff0;
  }
  
  div.col-md-12:hover {
    background: #f0fff0;
  }

  .jumbotron {
    background-image: url("../images/bacteria2.png");
    background-size: 33.33% auto;
    text-align: center;
  }

  /* customize select tag */
select {
    background-color: white;
    display: inline-block;
    border: solid;
    border-radius: 0.5vw;
    line-height: 1.5em;
    margin-top: 10px;
    /* padding: top | right | bottom | left */
    padding: 0.2em 3em 0.2em 0.3em;
    /* support standard & historical browsers Chrome/Safari/Edge/Firefox */
    box-sizing: border-box;
    appearance: none;
    -webkit-box-sizing: border-box;
    -webkit-appearance: none;
    -moz-box-sizing: border-box;
    -moz-appearance: none;
  }

  select.arrowUD {
    background-image: url("../images/up_down_arrow.png");
    background-position: 100%, 100% 0;
    /* width:auto height:line-height + padding-top + padding-bottom */
    background-size: auto calc(1.5em + 0.2em + 0.2em);
    background-repeat: no-repeat;
  }
  
  select.arrowUD:focus {
    border-color: #663399;
    outline: 0;
  }